body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #090221;
}

.img {
    position: relative;
    display: flex;
}

.slice {
    width: 120px;
    height: 350px;
    transition: .5s;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease;
    cursor: pointer;
}

.img-one {
    background: url("./images/pic1.jpg");
}

.img-two {
    background: url("./images/pic2.jpg");
}

.img-three {
    background: url("./images/pic3.jpg");
}

.slice-two {
    background-position: -120px 0;
}

.img:hover .slice-one {
    transform: translate(-50px, -20px) skewX(10deg);
}

.img:hover .slice-two {
    transform: translate(50px, 20px) skewX(10deg);
}